---
interface Props {
  education: { name: string, prog: string, grade: any, level: string, grad: string }
}

const {data} = Astro.props
---

<section class="flex w-full flex-col gap-4">
    <header class="cursor-pointer text-center text-4xl lg:text-left">
        🎓Education
    </header>
    <div class="flex flex-row gap-6">
      {data.education.map((edu: any) => (
              <p key={edu.name}>
                  <b>{edu.name}</b> ({edu.level}) <br/>
                {edu.prog}, <br/>
                  GPAX: {edu.grade} <br/>
                  Graduate: {edu.grad || "TBD"} <br/>
              </p>
      ))}
    </div>
</section>