---
interface Props {
  projects: any[]
}

const {data} = Astro.props
---

<section class="flex w-full flex-col gap-4">
    <header class="cursor-pointer text-center text-4xl lg:text-left">
        🧑‍💻Projects
    </header>
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
      {data.projects.map((project: any) => (
              <section
                      class={`rounded-xl bg-white/10 bg-center
        bg-no-repeat`}
                      key={project.name}
              >
                  <div class="flex h-full w-full flex-col items-center justify-center gap-4 rounded-lg bg-black/75 p-6 text-center">
                      <p class="text-xl">
                          <b>{project.name}</b> by {project.from}
                      </p>
        {project.info}
          <div class="flex flex-row gap-2">
              <a
                      href={"https://" + project.link}
                      class="btn-primary btn-sm btn"
              >
                  Visit Website
              </a>
              <a
                      href={"https://" + project.gh}
                      class="btn-ghost btn-sm btn"
              >
                  View Repository
              </a>
          </div>
        </div>
        </section>
        ))}
        </div>
        </section>