---
import PageLayout from "../layouts/PageLayout.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import * as data from "../consts"
import Education from "../components/About/Education.astro";
import InfoAndConnect from "../components/About/InfoAndConnect.astro";
import Events from "../components/About/Events.astro"
import Projects from "../components/About/Projects.astro"
import TechAndInterests from "../components/About/TechAndInterests.astro"
---

<PageLayout
        title={SITE_TITLE}
        description={SITE_DESCRIPTION}
>
    <div class="flex flex-col gap-12">
        <div
          class="grid grid-cols-1 gap-6 rounded-2xl bg-gradient-to-r from-orange-500 to-pink-700"
        >
            <div class="flex flex-col">
                <img src="/nobg.png" class="place-self-center" alt="tin" />
            </div>
        </div>

        <section class="flex flex-col items-center gap-2">
            <h1 class="text-center text-5xl md:text-6xl font-bold">
              {data.about.name.split(" ")[0] } {data.about.name.split(" ")[1]}
            </h1>
            <h2 class="text-center text-xl italic text-gray-500 md:text-2xl font-bold">
                ({data.about.aka})
            </h2>
        </section>

        <!-- About -->
        <article class="text-left text-lg">
          {data.about.desc}
        </article>

        <!-- Personal Info & Connect -->
        <InfoAndConnect data={data} />

        <!-- Education -->
        <Education data={data} />

        <!-- Events -->
        <Events data={data} />

        <!-- Projects -->
        <Projects data={data} />

        <!-- Tech & Interests -->
        <TechAndInterests data={data} />
    </div>
</PageLayout>