---
import type { CollectionEntry } from 'astro:content';
import PageLayout from './PageLayout.astro';

type Props = CollectionEntry<'articles'>['data'];

const { title, description, pubDate, tags, heroImage } = Astro.props;
---

<PageLayout
	title={title}
	description={description}
	image={heroImage}
>
	<main class="flex flex-col gap-12">
		{/* Article Big Image */}
		<div
			class="h-[65vh] w-full rounded-xl"
			style={{
				backgroundImage: `url(${heroImage})`,
				backgroundSize: "cover",
				backgroundPosition: "center",
			}}
		>
			{/* Article Title and Subtitles */}
			<div class="flex h-full w-full flex-col items-center justify-center gap-12 rounded-xl bg-black/75 px-12 duration-200 hover:bg-black/50 lg:px-24">
				<h1 class="title font-bold">{title}</h1>
				<h2 class="subtitle font-bold">{description}</h2>
			</div>
		</div>

		{/* Article Container */}
		<div class="grid grid-cols-1 gap-6 xl:grid-cols-4">
			{/* Article Data */}
			<div class="w-full flex-col items-center gap-4 xl:flex hidden">
				<!-- Tags -->
				<div class="flex flex-col items-center gap-4">
					<h1 class="text-4xl font-bold">Tags</h1>
					<div
						class="flex flex-row flex-wrap items-center justify-center gap-2"
					>
						{tags.map(tag => (
							<div
								class="flex flex-row gap-2 bg-white/10 p-2"
							>
								<a
									href={"/articles/tags/" + tag}
									class="text-lg font-bold"
								>{tag}
								</a>
							</div>
						))}
					</div>
					<div class="divider"></div>
				</div>

				<!-- RSS -->
				<div class="flex flex-col items-center gap-4">
					<h1 class="text-4xl font-bold">RSS</h1>
					<div class="flex flex-row flex-wrap gap-2">
						<div
							class="flex flex-row items-center justify-center gap-2 bg-orange-500/10 p-2"
						>
							<a href="/rss.xml" class="text-lg font-bold text-orange-400">
								Subscribe
							</a>
						</div>
					</div>
				</div>
			</div>
			{/* Article Content */}
			<div
				class="content col-span-3 flex flex-col gap-4"
			>
				<slot />
			</div>
		</div>
	</main>
</PageLayout>
